<div class="col s12 m6">
  <div class="card horizontal hoverable">
    <div class="card-image">
      <img src="assets/strava-distance.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h2>{{strava?.distance}}</h2>
        <p>
          km couru ce mois-ci <span class="new badge red" data-badge-caption="Sport"></span><br><br>
          Source : <a href="https://www.strava.com/athletes/32991111">Strava</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="col s12 m6">
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img src="assets/strava-count.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h2>{{strava?.count}}</h2>
          <p>
            courses ce mois-ci <span class="new badge red" data-badge-caption="Sport"></span><br><br>
            Source : <a href="https://www.strava.com/athletes/32991111">Strava</a>
          </p>
        </div>
      </div>
    </div>
</div>